h1{
    font-size: 3em;
    text-align: center;
}

html {
    font-family: arial;
}

.columnSection {
    column-count: 2;
    padding: 2em;
    background: lightgrey;
}


@media screen and (max-width: 800px){

    .columnSection {
    column-count: 1;
    }

    #imageToRemove {
        display: none;
    }

}